{% extends 'main/base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block title %}EasyPrints - Home{% endblock title %} 
{% block content %}
<div class="container">
    <div class="about-section text-light">
        <div class="container">
            <h1 class="about-title text-center mb-4 text-black">About Us</h1>
            <div>
                <p>Welcome to <strong class="text-black">EasyPrintZ</strong>, your trusted source for purchasing PIN codes for checking WAEC results and school placements in Ghana. We are dedicated to providing you with the best and most reliable PIN codes, with a focus on transparency, customer service, and convenience.</p>

                <p>Our passion for helping students and parents with their academic progress drove us to start this company. We understand the importance of timely and accurate information when it comes to academic results and school placements, which is why we strive to ensure that our customers receive their PIN codes quickly and reliably.</p>

                <p>Our mission is to make the process of obtaining WAEC result checking and school placement PIN codes as seamless and stress-free as possible. We offer a user-friendly platform where you can easily purchase the codes you need. We are committed to maintaining the highest standards of integrity and customer satisfaction.</p>

                <p>We hope you enjoy our products and services as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>

                <p>Thank you for choosing <strong class="text-black">EasyPrintZ !</strong></p>

                <h3 class="mt-4 text-center text-black">Our Vision</h3>
                <p class="mb-5">To be the leading provider of educational support services in Ghana, known for our reliability and excellent customer service.</p>

                <h3 class="text-center text-black">Our Mission</h3>
                <p>To simplify the process of accessing academic results and school placements through innovative solutions and dedicated customer support.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
