{% extends 'main/base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block title %}EasyPrints - Home{% endblock title %} 
{% block content %}
<div class="container mt-5">
  <div class="container">
    <!-- Instructions Section -->
    <div class="instructions col col-md-7 mx-auto">
      <p class="lead text-light">Quick and easy way to purchase WAEC result and school placement checker pins.</p>
      <div>
        <small class="text-light">Follow these steps to get started:</small>
        <!-- Button to Open the Modal -->
        <button
          type="button"
          class="btn btn-link btn-link-red"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Click here to retrieve a pin.
        </button>

        <!-- The Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Retrieve Code</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form id="modalForm">
                  <label for="phone"
                    >Enter phone you used to buy the code</label
                  >
                  <input
                    type="text"
                    name="phone"
                    id="phone"
                    class="form-control"
                  />
                  <label for="date">Enter the date you bought the code</label>
                  <input
                    type="date"
                    name="date"
                    id="date"
                    class="form-control"
                  />
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  onclick="submitForm()"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
        <ol>
          <li>
            <div class="step">
              <code
                >Make sure to enter a correct number and active phone number</code
              >
            </div>
          </li>
          <li>
            <div class="step">
              <code>The number of codes you want to buy & Select the code type you want to buy</code>
            </div>
          </li>
          <li>
            <div class="step">
              <code>Select the payment mode and then click submit.</code>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <!-- <h3 class="text-light text-center text-decoration-underline text-capitalize">
    Please provide valid details
  </h3> -->
  <div class="col-12 col-md-6 mx-auto border rounded bg-body shadow p-4 mt-5">
    <form method="POST">
      {% csrf_token %} {{ form|crispy }}
      <div class="text-center">
        <button
          class="btn btn-info mb-3 mt-3 px-5 border rounded"
          type="submit"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
  <div class="text-center mt-3">
    <p class="mb-0 text-light">
      For any additional questions, please
      <a href="tel:+233594438287">Contact us.</a>
    </p>
  </div>
</div>
{% endblock content %}
