{% extends 'main/base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block title %}EasyPrints - Home{% endblock title %} 
{% block content %}
<div class="container">
    <div class="services-section">
        <div class="container">
            <h1 class="service-title text-center mb-4 text-decoration-underline">Our Services</h1>
            <div class="service-content">
                <div class="service-item">
                    <h5 class="text-black text-decoration-underline">WAEC Result Checking PIN Codes</h5>
                    <p>We provide reliable and quick access to WAEC result checking PIN codes, allowing students to easily check their exam results online. Our PIN codes are available for both WAEC and BECE results.</p>
                </div>
                <div class="service-item">
                    <h5 class="text-black text-decoration-underline">School Placement PIN Codes</h5>
                    <p>Our service includes providing PIN codes for school placements, helping students and parents to determine which schools students have been placed in after their examinations. This service ensures a smooth transition to the next level of education.</p>
                </div>
                <div class="service-item">
                    <h5 class="text-black text-decoration-underline">Customer Support</h5>
                    <p>We offer dedicated customer support to assist you with any issues or questions you may have regarding the purchase and use of our PIN codes. Our support team is available to ensure you have a seamless experience.</p>
                </div>
                <div class="service-item">
                    <h5 class="text-black text-decoration-underline">Secure Transactions</h5>
                    <p>We prioritize your security and privacy. Our platform uses secure payment methods to ensure that your transactions are safe and your personal information is protected.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
